.main__section{
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;

  &-title {
    margin: 1em 0;
    font-size: 2em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #121212;
    border-bottom: 1px solid #121212;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;

    @media (min-width: 768px) {
      grid-gap: 1.5rem;
    }
  }

  &-link {
    position: relative;
    align-self: center;
    padding: 0.5rem 3rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: var(--font-primary);
    letter-spacing: -0.5px;
    border-radius: 4px;
    transition: color 0.3s ease-out, box-shadow 0.3s ease-out;
    color: #665000;
    box-shadow: inset 0px 0px 0px 1.5px rgba(102, 80, 0, 0.2);
    padding-right: 4.2rem;


    &:hover {
      color: #fff;
      box-shadow: inset 0px 0px 0px 3px #b38c00,
      inset 90px -40px 0px 1px #b38c00;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      padding-right: 3rem;
      border-radius: inherit;
      border-left-color: #66500085;
      border-left-style: solid;
      border-left-width: 0.6rem;
      border-top-color: transparent;
      border-top-width: 0.6rem;
      border-top-style: solid;
      border-bottom-color: transparent;
      border-bottom-width: 0.6rem;
      border-bottom-style: solid;
      transform: translate(0, -50%);
      animation: 1s infinite ease-in-out;
      animation-delay: 0.1s;
    }

    &:hover::after {
      border-left-color: rgba(255, 255, 255, 0.8);
      animation-name: arrow;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: inherit;
      transition: box-shadow 0.3s;
    }

    &:hover::before {
      box-shadow: 0 0 14px 0px #b38c00;
    }
  }
}

@keyframes arrow {
  0% {
    transform: translate(0, -50%);
  }

  40% {
    transform: translate(20%, -50%);
  }

  100% {
    transform: translate(0, -50%);
  }
}