.page-header {
  &--backdrop_poster {
    color: #fff;
    background-position: right -200px top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--linear_gradient {
    height: 100%;
    background-color: var(--bg-dark);

    @media (min-width: 768px) {
      background-color: unset;
    }
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px 0;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
}

.overview {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // color: #000;

  @media (min-width: 768px) {
    margin-left: 40px;
  }
}

.tagline {
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
  opacity: 0.7;
}

.title {
  font-size: 2rem;
  margin: 1rem;

  @media (min-width: 768px) {
    font-size: 2.5rem;
    margin: 0;
  }

  &_wrapper {
    margin-bottom: 24px;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  &__divider {
    margin: 0 3px;
  }
}

.poster_wrapper {
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    display: block;
  }
}

.poster {
  width: 200px;
  min-height: 250px;
  overflow: hidden;
  border-radius: var(--card-border-radius);

  @media (min-width: 768px) {
    width: 300px;
    min-height: 450px;
  }

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.rating {
  &_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.4em;
    margin-bottom: 20px;
  }

  &--icon {
    margin-right: 8px;
    background-image: url('../../assets/favorite.svg');
    width: 1em;
    height: 1em;
  }
}

.summary {
  margin-bottom: 20px;

  h3 {
    font-size: 1.3rem;
    margin: 10px 0 8px;
  }
}

.creators {
  h4 {
    display: inline;
    margin-right: 10px;
  }
}
