.page-header {
  background-color: var(--bg-dark);
  color: var(--secondary-text);
}

.logo {
  font-family: 'Poiret One', cursive;
  font-weight: normal;
  font-size: 4em;
  letter-spacing: 4px;
  margin-right: 22px;
}