.site-header {
  background-color: var(--black-900);
  color: var(--white);

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0;
    align-items: center;
  }
}
.logo {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  margin-right: 22px;
  font-size: 1.5rem;

  a  {
    display: inline-block;
    padding: 0.2rem;
    line-height: 1;
    border-radius: 4px;
    color: var(--black-900);
    background-color: #ffc700;
  }
}