@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* START of MIXIN */

@mixin fader-vertical {
  position: relative;
  
  &.should_fade::after {
    content: '';
    height: 100%;
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    will-change: opacity;
    pointer-events: none;
  }

  &.should_fade.is_fading::after {
    transition: opacity 300ms linear;
    opacity: 1;
  }

  &.should_fade.is_hidden::after {
    transition: opacity 300ms linear;
    opacity: 0;
  }
}

/* END of MIXIN */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-100: rgba(0, 0, 0, 0.1);
  --black-900: #121212;
  --white: #ffffff;
  --grey-100: #fdfdfd;
  --grey-200: #e3e3e3;
  --grey-300: #d7d7d7;
  --grey-400: #7e7e7e;
  --yellow-imdb: #f5c518;
  --card-border-radius: 6px;
  --font-primary: 'Source Sans Pro', sans-serif;
  --font-secondary: 'Roboto Condensed', sans-serif;
}

body {
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

h1,
h2,
h3 {
  font-family: var(--font-secondary);
  // font-weight: 400;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: unset;
  cursor: pointer;
  color: inherit;
  border: none;
  font-size: unset;
  font-family: inherit;
}

.link--yellow {
  color: var(--yellow-imdb);
}

.visually-hidden {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}

/* Icons */

.icon {
  &--hidden {
    display: none !important;
  }
}

/* Poster sizing */

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}

[style*="--aspect-ratio"] > img {
  height: auto;
  object-fit: cover;
}

@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }

  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / var(--aspect-ratio));
  }

  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}