/* START of MIXIN */

@mixin fader-vertical {
  position: relative;
  
  &.should_fade::after {
    content: '';
    height: 100%;
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    will-change: opacity;
    pointer-events: none;
  }

  &.should_fade.is_fading::after {
    transition: opacity 300ms linear;
    opacity: 1;
  }

  &.should_fade.is_hidden::after {
    transition: opacity 300ms linear;
    opacity: 0;
  }
}

/* END of MIXIN */

.recommended {
  &__panel {
    grid-area: recommended;
  }

  &__list {
    display: flex;
    overflow-x: auto;

    @include fader-vertical;
  }

  &__item {
    min-width: 200px;
    flex: 0 0 20%;
    margin-right: 15px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;

    &:last-of-type {
      margin-right: 0px;
    }

    &-image {
      border-radius: var(--card-border-radius);
      overflow: hidden;

      a {
        display: block;
        width: 100%;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &-info {
      display: flex;
      justify-content: space-between;
      margin-top: 4px;
    }
  }
}